{% extends "bases.html.twig" %}

{% block main %}
    <main>
        {% for product in products %}
            <h3>{{ product.name }}</h3>
            <p>{{ product.description }}</p>
            <p>{{ product.price }}</p>
        {% endfor %}
    </main>
{% endblock %}