{% extends "bases_admin.html.twig" %}

{% block main %}
    <main>
        <h2>Produits (Admin)</h2>
        {% for product in products %}
            <h3>{{ product.name }}</h3>
            <p>{{ product.description }}</p>
            <p>{{ product.price }}</p>
        {% endfor %}
    </main>
{% endblock %}
</body>
</html>